:root {
    --brand-cyan: #46E1FC;
    --brand-pink: #E14696;
    --brand-gray: #515051;
    --brand-black: #111111;
    --brand-light: #9E9E9E;
    --main-gradient: linear-gradient(108.53deg, var(--brand-cyan) 13.66%, var(--brand-pink) 62.47%);
    --vertical-gradient: linear-gradient(180deg, var(--brand-cyan) 13.66%, var(--brand-pink) 62.47%);
    --purple-gradient: linear-gradient(90deg, #221529 0%, rgba(20, 30, 44, 0.95) 100%);
    --black-top-gradient: linear-gradient(to top , rgba(27, 17, 17, 0) 0%, #000000 100%);
    --black-bottom-gradient: linear-gradient(180deg, rgba(27, 17, 17, 0) 0%, rgba(12, 7, 7, 0.601562) 55.73%, #000000 100%);
    --dubai-gradient: linear-gradient(90deg, rgba(17, 17, 17, 0) 0%, #191A2C 50.52%, rgba(17, 17, 17, 0) 100%);
    --box-gradient: linear-gradient(90deg, #22152900, #141E2C);
    --purple-bottom: linear-gradient(0deg, rgba(34,21,41,1) 0%, rgba(0,0,0,0) 50%);
    --purple-top: linear-gradient(180deg, rgba(34,21,41,1) 0%, rgba(0,0,0,1) 33%);
    --shadow-card: 7px 6px 10px rgba(0,0,0,0.4);
    --shadow-card-hover: 10px 10px 8px rgba(0,0,0,0.2);
    --card-container: 17px 16px 41px rgba(0, 0, 0, 0.25);
}